<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
    <h3>Dashboard Content Area</h3>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item">
            <div id="barChart" data-bind="ojComponent: {
                    component: 'ojChart', 
                    type: 'bar', 
                    series: barSeriesValue, 
                    groups: barGroupsValue, 
                    highlightedCategories: highlightedCategoriesValue,
                    hideAndShowBehavior: 'withRescale',
                    hiddenCategories: hiddenCategoriesValue,
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    hoverBehavior: 'dim'
                }"
                style="max-width:500px;width:100%;height:350px;">
            </div>
        </div>
        <div class="oj-flex-item">
            <div data-bind="ojComponent: {
                    component: 'ojChart', 
                    type: 'bubble',
                    series: bubbleSeriesValue, 
                    groups: bubbleGroupsValue,
                    highlightedCategories: highlightedCategoriesValue,
                    hideAndShowBehavior: 'withoutRescale',
                    hiddenCategories: hiddenCategoriesValue,
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    hoverBehavior: 'dim'
                }"
                style="max-width:500px;width:100%;height:350px;">
            </div>
        </div>
    </div>
</div>